button {
  border: none;
  color: #fff;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin: 1px;
}

button.indoor {
  background-color: #998675;
}

button.outdoor {
  background-color: #333333;
}
button.house {
  background-color: #808080;
}

button.showAll {
  background-color: #8cc63f;
}
.d-none {
  display: none;
}

.container {
  padding: 60px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

h4 {
  font-size: 1.2rem;
  color: grey;
}

p {
  color: rgb(176, 176, 176);
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
